h1 {
    font-family: 'Vollkorn', serif;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    padding: 20px;
}

h3,
a {
    font-family: 'Hind', sans-serif;
}

h4 {
    font-family: 'Source Code Pro', monospace;
}

a {
    color: grey;
}

footer span,
footer a {
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
}

.brackets-border {
    padding: 20px;
    margin: 20px;
    border-bottom: solid 4px grey;
    border-top: solid 4px grey;
    border-radius: 10px;
}
