/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    outline: 1px dotted red !important;
}

/* cssreset.com */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;

}

p {
    font-family: helvetica, arial, sans-serif;
    line-height: 1.5em;
}

.col-4 > p {
    padding: 10px;
    margin: 0px;

}

.col-3 > p {
    margin: 20px 10px;
}
.col-6 > p {
    padding: 20px;
    margin-top: 0px;

}

.title {
    font-family: helvetica, arial, sans-serif;
    background: #33bebe;
    color: #ffffff;
    padding: 20px 10px 5px 10px;
}

.grid {
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.screenshot {
    max-width: 460px;
    min-width: 200px;
}

.description {
    max-width: 705px;
    margin-left: 14px;
}
